@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground typography-body1 min-h-screen font-sans antialiased relative;
  }

  .font-sans {
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
  }
}
