:root, .light, [data-theme="light"] {
  --pw-ref-radius-none: 0px;
  --pw-ref-radius-3xs: calc(0.75rem - 12px);
  --pw-ref-radius-2xs: calc(0.75rem - 8px);
  --pw-ref-radius-xs: calc(0.75rem - 4px);
  --pw-ref-radius-sm: calc(0.75rem - 2px);
  --pw-ref-radius-default: 0.75rem;
  --pw-ref-radius-md: calc(0.75rem + 2px);
  --pw-ref-radius-lg: calc(0.75rem + 4px);
  --pw-ref-radius-xl: calc(0.75rem + 8px);
  --pw-ref-radius-2xl: calc(0.75rem + 12px);
  --pw-ref-radius-3xl: calc(0.75rem + 20px);
  --pw-ref-radius-full: 9999px;
  --pw-ref-color-white-50: hsla(0, 0%, 100%, 0.04);
  --pw-ref-color-white-100: hsla(0, 0%, 100%, 0.06);
  --pw-ref-color-white-150: hsla(0, 0%, 100%, 0.08);
  --pw-ref-color-white-200: hsla(0, 0%, 100%, 0.11);
  --pw-ref-color-white-250: hsla(0, 0%, 100%, 0.14);
  --pw-ref-color-white-300: hsla(0, 0%, 100%, 0.18);
  --pw-ref-color-white-350: hsla(0, 0%, 100%, 0.22);
  --pw-ref-color-white-400: hsla(0, 0%, 100%, 0.27);
  --pw-ref-color-white-450: hsla(0, 0%, 100%, 0.31);
  --pw-ref-color-white-500: hsla(0, 0%, 100%, 0.37);
  --pw-ref-color-white-550: hsla(0, 0%, 100%, 0.42);
  --pw-ref-color-white-600: hsla(0, 0%, 100%, 0.48);
  --pw-ref-color-white-650: hsla(0, 0%, 100%, 0.54);
  --pw-ref-color-white-700: hsla(0, 0%, 100%, 0.6);
  --pw-ref-color-white-750: hsla(0, 0%, 100%, 0.66);
  --pw-ref-color-white-800: hsla(0, 0%, 100%, 0.73);
  --pw-ref-color-white-850: hsla(0, 0%, 100%, 0.8);
  --pw-ref-color-white-900: hsla(0, 0%, 100%, 0.86);
  --pw-ref-color-white-950: hsla(0, 0%, 100%, 0.93);
  --pw-ref-color-white-1000: hsla(0, 0%, 100%, 1);
  --pw-ref-color-black-50: hsla(227, 100%, 3%, 0.02);
  --pw-ref-color-black-100: hsla(227, 100%, 3%, 0.04);
  --pw-ref-color-black-150: hsla(227, 100%, 3%, 0.06);
  --pw-ref-color-black-200: hsla(227, 100%, 3%, 0.09);
  --pw-ref-color-black-250: hsla(227, 100%, 3%, 0.12);
  --pw-ref-color-black-300: hsla(227, 100%, 3%, 0.16);
  --pw-ref-color-black-350: hsla(227, 100%, 3%, 0.2);
  --pw-ref-color-black-400: hsla(227, 100%, 3%, 0.25);
  --pw-ref-color-black-450: hsla(227, 100%, 3%, 0.3);
  --pw-ref-color-black-500: hsla(227, 100%, 3%, 0.35);
  --pw-ref-color-black-550: hsla(227, 100%, 3%, 0.4);
  --pw-ref-color-black-600: hsla(227, 100%, 3%, 0.46);
  --pw-ref-color-black-650: hsla(227, 100%, 3%, 0.52);
  --pw-ref-color-black-700: hsla(227, 100%, 3%, 0.59);
  --pw-ref-color-black-750: hsla(227, 100%, 3%, 0.65);
  --pw-ref-color-black-800: hsla(227, 100%, 3%, 0.72);
  --pw-ref-color-black-850: hsla(227, 100%, 3%, 0.79);
  --pw-ref-color-black-900: hsla(227, 100%, 3%, 0.86);
  --pw-ref-color-black-950: hsla(227, 100%, 3%, 0.93);
  --pw-ref-color-black-1000: hsla(227, 100%, 3%, 1);
  --pw-ref-color-blue-50: hsla(222, 100%, 61%, 0.02);
  --pw-ref-color-blue-100: hsla(222, 100%, 61%, 0.05);
  --pw-ref-color-blue-150: hsla(222, 100%, 61%, 0.1);
  --pw-ref-color-blue-200: hsla(222, 100%, 61%, 0.17);
  --pw-ref-color-blue-250: hsla(222, 100%, 61%, 0.25);
  --pw-ref-color-blue-300: hsla(222, 100%, 61%, 0.34);
  --pw-ref-color-blue-350: hsla(222, 100%, 61%, 0.44);
  --pw-ref-color-blue-400: hsla(222, 100%, 61%, 0.54);
  --pw-ref-color-blue-450: hsla(222, 100%, 61%, 0.64);
  --pw-ref-color-blue-500: hsla(222, 100%, 61%, 0.73);
  --pw-ref-color-blue-550: hsla(222, 100%, 61%, 0.81);
  --pw-ref-color-blue-600: hsla(222, 100%, 61%, 0.89);
  --pw-ref-color-blue-650: hsla(221, 89%, 55%, 1);
  --pw-ref-color-blue-700: hsla(218, 94%, 46%, 1);
  --pw-ref-color-blue-750: hsla(217, 100%, 41%, 1);
  --pw-ref-color-blue-800: hsla(218, 100%, 37%, 1);
  --pw-ref-color-blue-850: hsla(218, 100%, 34%, 1);
  --pw-ref-color-blue-900: hsla(218, 100%, 32%, 1);
  --pw-ref-color-blue-950: hsla(218, 100%, 30%, 1);
  --pw-ref-color-blue-1000: hsla(218, 100%, 30%, 1);
  --pw-ref-color-green-50: hsla(140, 71%, 44%, 0.02);
  --pw-ref-color-green-100: hsla(140, 71%, 44%, 0.05);
  --pw-ref-color-green-150: hsla(140, 71%, 44%, 0.1);
  --pw-ref-color-green-200: hsla(140, 71%, 44%, 0.17);
  --pw-ref-color-green-250: hsla(140, 71%, 44%, 0.25);
  --pw-ref-color-green-300: hsla(140, 71%, 44%, 0.34);
  --pw-ref-color-green-350: hsla(140, 71%, 44%, 0.44);
  --pw-ref-color-green-400: hsla(140, 71%, 44%, 0.54);
  --pw-ref-color-green-450: hsla(140, 71%, 44%, 0.64);
  --pw-ref-color-green-500: hsla(140, 71%, 44%, 0.73);
  --pw-ref-color-green-550: hsla(140, 71%, 44%, 0.81);
  --pw-ref-color-green-600: hsla(140, 71%, 44%, 0.89);
  --pw-ref-color-green-650: hsla(145, 100%, 35%, 1);
  --pw-ref-color-green-700: hsla(145, 100%, 32%, 1);
  --pw-ref-color-green-750: hsla(145, 100%, 30%, 1);
  --pw-ref-color-green-800: hsla(144, 100%, 27%, 1);
  --pw-ref-color-green-850: hsla(144, 100%, 26%, 1);
  --pw-ref-color-green-900: hsla(144, 100%, 24%, 1);
  --pw-ref-color-green-950: hsla(144, 100%, 24%, 1);
  --pw-ref-color-green-1000: hsla(144, 100%, 23%, 1);
  --pw-ref-color-yellow-50: hsla(56, 100%, 47%, 0.02);
  --pw-ref-color-yellow-100: hsla(56, 100%, 47%, 0.05);
  --pw-ref-color-yellow-150: hsla(56, 100%, 47%, 0.1);
  --pw-ref-color-yellow-200: hsla(56, 100%, 47%, 0.17);
  --pw-ref-color-yellow-250: hsla(56, 100%, 47%, 0.25);
  --pw-ref-color-yellow-300: hsla(56, 100%, 47%, 0.34);
  --pw-ref-color-yellow-350: hsla(56, 100%, 47%, 0.44);
  --pw-ref-color-yellow-400: hsla(56, 100%, 47%, 0.54);
  --pw-ref-color-yellow-450: hsla(56, 100%, 47%, 0.64);
  --pw-ref-color-yellow-500: hsla(56, 100%, 47%, 0.73);
  --pw-ref-color-yellow-550: hsla(56, 100%, 47%, 0.81);
  --pw-ref-color-yellow-600: hsla(56, 100%, 47%, 0.89);
  --pw-ref-color-yellow-650: hsla(56, 100%, 43%, 1);
  --pw-ref-color-yellow-700: hsla(56, 100%, 39%, 1);
  --pw-ref-color-yellow-750: hsla(56, 100%, 35%, 1);
  --pw-ref-color-yellow-800: hsla(56, 100%, 32%, 1);
  --pw-ref-color-yellow-850: hsla(56, 100%, 29%, 1);
  --pw-ref-color-yellow-900: hsla(56, 100%, 27%, 1);
  --pw-ref-color-yellow-950: hsla(56, 100%, 26%, 1);
  --pw-ref-color-yellow-1000: hsla(56, 100%, 25%, 1);
  --pw-ref-color-red-50: hsla(352, 71%, 43%, 0.02);
  --pw-ref-color-red-100: hsla(352, 71%, 43%, 0.05);
  --pw-ref-color-red-150: hsla(352, 71%, 43%, 0.1);
  --pw-ref-color-red-200: hsla(352, 71%, 43%, 0.17);
  --pw-ref-color-red-250: hsla(352, 71%, 43%, 0.25);
  --pw-ref-color-red-300: hsla(352, 71%, 43%, 0.34);
  --pw-ref-color-red-350: hsla(352, 71%, 43%, 0.44);
  --pw-ref-color-red-400: hsla(352, 71%, 43%, 0.54);
  --pw-ref-color-red-450: hsla(352, 71%, 43%, 0.64);
  --pw-ref-color-red-500: hsla(352, 71%, 43%, 0.73);
  --pw-ref-color-red-550: hsla(352, 71%, 43%, 0.81);
  --pw-ref-color-red-600: hsla(352, 71%, 43%, 0.89);
  --pw-ref-color-red-650: hsla(350, 84%, 36%, 1);
  --pw-ref-color-red-700: hsla(347, 100%, 30%, 1);
  --pw-ref-color-red-750: hsla(348, 100%, 26%, 1);
  --pw-ref-color-red-800: hsla(348, 100%, 23%, 1);
  --pw-ref-color-red-850: hsla(349, 100%, 20%, 1);
  --pw-ref-color-red-900: hsla(350, 100%, 18%, 1);
  --pw-ref-color-red-950: hsla(350, 100%, 17%, 1);
  --pw-ref-color-red-1000: hsla(350, 100%, 17%, 1);
  --pw-sys-color-text-foreground: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-secondary: var(--pw-ref-color-black-900);
  --pw-sys-color-text-info: var(--pw-ref-color-blue-700);
  --pw-sys-color-text-success: var(--pw-ref-color-green-850);
  --pw-sys-color-text-caution: var(--pw-ref-color-yellow-1000);
  --pw-sys-color-text-critical: var(--pw-ref-color-red-700);
  --pw-sys-color-text-disabled: var(--pw-ref-color-black-800);
  --pw-sys-color-text-placeholder: var(--pw-ref-color-black-700);
  --pw-sys-color-text-on-primary: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-secondary: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-info: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-info-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-success: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-success-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-caution: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-caution-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-critical: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-critical-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-disabled: var(--pw-ref-color-black-800);
  --pw-sys-color-background-background: var(--pw-ref-color-white-1000);
  --pw-sys-color-background-primary: var(--pw-ref-color-black-1000);
  --pw-sys-color-background-primary-hover: var(--pw-ref-color-black-950);
  --pw-sys-color-background-secondary: var(--pw-ref-color-black-200);
  --pw-sys-color-background-secondary-hover: var(--pw-ref-color-black-250);
  --pw-sys-color-background-info: linear-gradient(90deg, var(--pw-ref-color-blue-900) 0%, var(--pw-ref-color-blue-700) 35%, var(--pw-ref-color-blue-500) 100%);
  --pw-sys-color-background-info-hover: var(--pw-ref-color-blue-800);
  --pw-sys-color-background-info-subdued: var(--pw-ref-color-blue-300);
  --pw-sys-color-background-info-subdued-hover: var(--pw-ref-color-blue-400);
  --pw-sys-color-background-success: var(--pw-ref-color-green-600);
  --pw-sys-color-background-success-hover: var(--pw-ref-color-green-650);
  --pw-sys-color-background-success-subdued: var(--pw-ref-color-green-300);
  --pw-sys-color-background-success-subdued-hover: var(--pw-ref-color-green-400);
  --pw-sys-color-background-caution: var(--pw-ref-color-yellow-600);
  --pw-sys-color-background-caution-hover: var(--pw-ref-color-yellow-650);
  --pw-sys-color-background-caution-subdued: var(--pw-ref-color-yellow-300);
  --pw-sys-color-background-caution-subdued-hover: var(--pw-ref-color-yellow-350);
  --pw-sys-color-background-critical: var(--pw-ref-color-red-650);
  --pw-sys-color-background-critical-hover: var(--pw-ref-color-red-700);
  --pw-sys-color-background-critical-subdued: var(--pw-ref-color-red-300);
  --pw-sys-color-background-critical-subdued-hover: var(--pw-ref-color-red-400);
  --pw-sys-color-background-disabled: var(--pw-ref-color-black-200);
  --pw-sys-color-border-primary: var(--pw-ref-color-black-400);
  --pw-sys-color-border-secondary: var(--pw-ref-color-black-300);
  --pw-sys-color-border-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-border-success: var(--pw-ref-color-green-400);
  --pw-sys-color-border-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-border-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-border-disabled: var(--pw-ref-color-black-200);
  --pw-sys-color-ring-primary: var(--pw-ref-color-black-400);
  --pw-sys-color-ring-secondary: var(--pw-ref-color-black-300);
  --pw-sys-color-ring-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-ring-success: var(--pw-ref-color-green-400);
  --pw-sys-color-ring-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-ring-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-ring-disabled: var(--pw-ref-color-black-200);
  --pw-sys-color-outline-primary: var(--pw-ref-color-black-400);
  --pw-sys-color-outline-secondary: var(--pw-ref-color-black-300);
  --pw-sys-color-outline-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-outline-success: var(--pw-ref-color-green-400);
  --pw-sys-color-outline-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-outline-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-outline-disabled: var(--pw-ref-color-black-200);
  --pw-ref-spacing-0: 0px;
  --pw-ref-spacing-1: 0.25rem;
  --pw-ref-spacing-2: calc(0.25rem * 2);
  --pw-ref-spacing-3: calc(0.25rem * 3);
  --pw-ref-spacing-4: calc(0.25rem * 4);
  --pw-ref-spacing-5: calc(0.25rem * 5);
  --pw-ref-spacing-6: calc(0.25rem * 6);
  --pw-ref-spacing-7: calc(0.25rem * 7);
  --pw-ref-spacing-8: calc(0.25rem * 8);
  --pw-ref-spacing-9: calc(0.25rem * 9);
  --pw-ref-spacing-10: calc(0.25rem * 10);
  --pw-ref-spacing-11: calc(0.25rem * 11);
  --pw-ref-spacing-12: calc(0.25rem * 12);
  --pw-ref-spacing-14: calc(0.25rem * 13);
  --pw-ref-spacing-16: calc(0.25rem * 16);
  --pw-ref-spacing-20: calc(0.25rem * 20);
  --pw-ref-spacing-24: calc(0.25rem * 24);
  --pw-ref-spacing-28: calc(0.25rem * 28);
  --pw-ref-spacing-32: calc(0.25rem * 32);
  --pw-ref-spacing-36: calc(0.25rem * 36);
  --pw-ref-spacing-40: calc(0.25rem * 40);
  --pw-ref-spacing-44: calc(0.25rem * 44);
  --pw-ref-spacing-48: calc(0.25rem * 48);
  --pw-ref-spacing-52: calc(0.25rem * 52);
  --pw-ref-spacing-56: calc(0.25rem * 56);
  --pw-ref-spacing-60: calc(0.25rem * 60);
  --pw-ref-spacing-64: calc(0.25rem * 64);
  --pw-ref-spacing-72: calc(0.25rem * 72);
  --pw-ref-spacing-80: calc(0.25rem * 80);
  --pw-ref-spacing-96: calc(0.25rem * 96);
  --pw-ref-spacing-0\.25: calc(0.25rem / 4);
  --pw-ref-spacing-0\.5: calc(0.25rem / 2);
  --pw-sys-spacing-3xs: var(--pw-ref-spacing-0\.5);
  --pw-sys-spacing-2xs: var(--pw-ref-spacing-1);
  --pw-sys-spacing-xs: var(--pw-ref-spacing-2);
  --pw-sys-spacing-sm: var(--pw-ref-spacing-3);
  --pw-sys-spacing-md: var(--pw-ref-spacing-4);
  --pw-sys-spacing-lg: var(--pw-ref-spacing-6);
  --pw-sys-spacing-xl: var(--pw-ref-spacing-8);
  --pw-sys-spacing-2xl: var(--pw-ref-spacing-10);
  --pw-sys-spacing-3xl: var(--pw-ref-spacing-12);
  --pw-sys-spacing-4xl: var(--pw-ref-spacing-16);
  --pw-sys-spacing-5xl: var(--pw-ref-spacing-20);
  --pw-sys-spacing-6xl: var(--pw-ref-spacing-24);
}

.dark, [data-theme="dark"] {
  --pw-ref-radius-none: 0px;
  --pw-ref-radius-3xs: calc(0.75rem - 12px);
  --pw-ref-radius-2xs: calc(0.75rem - 8px);
  --pw-ref-radius-xs: calc(0.75rem - 4px);
  --pw-ref-radius-sm: calc(0.75rem - 2px);
  --pw-ref-radius-default: 0.75rem;
  --pw-ref-radius-md: calc(0.75rem + 2px);
  --pw-ref-radius-lg: calc(0.75rem + 4px);
  --pw-ref-radius-xl: calc(0.75rem + 8px);
  --pw-ref-radius-2xl: calc(0.75rem + 12px);
  --pw-ref-radius-3xl: calc(0.75rem + 20px);
  --pw-ref-radius-full: 9999px;
  --pw-ref-color-white-50: hsla(0, 0%, 100%, 0.04);
  --pw-ref-color-white-100: hsla(0, 0%, 100%, 0.06);
  --pw-ref-color-white-150: hsla(0, 0%, 100%, 0.08);
  --pw-ref-color-white-200: hsla(0, 0%, 100%, 0.11);
  --pw-ref-color-white-250: hsla(0, 0%, 100%, 0.14);
  --pw-ref-color-white-300: hsla(0, 0%, 100%, 0.18);
  --pw-ref-color-white-350: hsla(0, 0%, 100%, 0.22);
  --pw-ref-color-white-400: hsla(0, 0%, 100%, 0.27);
  --pw-ref-color-white-450: hsla(0, 0%, 100%, 0.31);
  --pw-ref-color-white-500: hsla(0, 0%, 100%, 0.37);
  --pw-ref-color-white-550: hsla(0, 0%, 100%, 0.42);
  --pw-ref-color-white-600: hsla(0, 0%, 100%, 0.48);
  --pw-ref-color-white-650: hsla(0, 0%, 100%, 0.54);
  --pw-ref-color-white-700: hsla(0, 0%, 100%, 0.6);
  --pw-ref-color-white-750: hsla(0, 0%, 100%, 0.66);
  --pw-ref-color-white-800: hsla(0, 0%, 100%, 0.73);
  --pw-ref-color-white-850: hsla(0, 0%, 100%, 0.8);
  --pw-ref-color-white-900: hsla(0, 0%, 100%, 0.86);
  --pw-ref-color-white-950: hsla(0, 0%, 100%, 0.93);
  --pw-ref-color-white-1000: hsla(0, 0%, 100%, 1);
  --pw-ref-color-black-50: hsla(227, 100%, 3%, 0.02);
  --pw-ref-color-black-100: hsla(227, 100%, 3%, 0.04);
  --pw-ref-color-black-150: hsla(227, 100%, 3%, 0.06);
  --pw-ref-color-black-200: hsla(227, 100%, 3%, 0.09);
  --pw-ref-color-black-250: hsla(227, 100%, 3%, 0.12);
  --pw-ref-color-black-300: hsla(227, 100%, 3%, 0.16);
  --pw-ref-color-black-350: hsla(227, 100%, 3%, 0.2);
  --pw-ref-color-black-400: hsla(227, 100%, 3%, 0.25);
  --pw-ref-color-black-450: hsla(227, 100%, 3%, 0.3);
  --pw-ref-color-black-500: hsla(227, 100%, 3%, 0.35);
  --pw-ref-color-black-550: hsla(227, 100%, 3%, 0.4);
  --pw-ref-color-black-600: hsla(227, 100%, 3%, 0.46);
  --pw-ref-color-black-650: hsla(227, 100%, 3%, 0.52);
  --pw-ref-color-black-700: hsla(227, 100%, 3%, 0.59);
  --pw-ref-color-black-750: hsla(227, 100%, 3%, 0.65);
  --pw-ref-color-black-800: hsla(227, 100%, 3%, 0.72);
  --pw-ref-color-black-850: hsla(227, 100%, 3%, 0.79);
  --pw-ref-color-black-900: hsla(227, 100%, 3%, 0.86);
  --pw-ref-color-black-950: hsla(227, 100%, 3%, 0.93);
  --pw-ref-color-black-1000: hsla(227, 100%, 3%, 1);
  --pw-ref-color-blue-50: hsla(222, 100%, 64%, 0.02);
  --pw-ref-color-blue-100: hsla(222, 100%, 64%, 0.05);
  --pw-ref-color-blue-150: hsla(222, 100%, 64%, 0.1);
  --pw-ref-color-blue-200: hsla(222, 100%, 64%, 0.17);
  --pw-ref-color-blue-250: hsla(222, 100%, 64%, 0.25);
  --pw-ref-color-blue-300: hsla(222, 100%, 64%, 0.34);
  --pw-ref-color-blue-350: hsla(222, 100%, 64%, 0.44);
  --pw-ref-color-blue-400: hsla(222, 100%, 64%, 0.54);
  --pw-ref-color-blue-450: hsla(222, 100%, 64%, 0.64);
  --pw-ref-color-blue-500: hsla(222, 100%, 64%, 0.73);
  --pw-ref-color-blue-550: hsla(222, 100%, 64%, 0.81);
  --pw-ref-color-blue-600: hsla(222, 100%, 64%, 0.89);
  --pw-ref-color-blue-650: hsla(222, 88%, 58%, 1);
  --pw-ref-color-blue-700: hsla(220, 79%, 52%, 1);
  --pw-ref-color-blue-750: hsla(218, 86%, 46%, 1);
  --pw-ref-color-blue-800: hsla(216, 100%, 40%, 1);
  --pw-ref-color-blue-850: hsla(217, 100%, 37%, 1);
  --pw-ref-color-blue-900: hsla(217, 100%, 35%, 1);
  --pw-ref-color-blue-950: hsla(217, 100%, 33%, 1);
  --pw-ref-color-blue-1000: hsla(217, 100%, 33%, 1);
  --pw-ref-color-green-50: hsla(140, 71%, 44%, 0.02);
  --pw-ref-color-green-100: hsla(140, 71%, 44%, 0.05);
  --pw-ref-color-green-150: hsla(140, 71%, 44%, 0.1);
  --pw-ref-color-green-200: hsla(140, 71%, 44%, 0.17);
  --pw-ref-color-green-250: hsla(140, 71%, 44%, 0.25);
  --pw-ref-color-green-300: hsla(140, 71%, 44%, 0.34);
  --pw-ref-color-green-350: hsla(140, 71%, 44%, 0.44);
  --pw-ref-color-green-400: hsla(140, 71%, 44%, 0.54);
  --pw-ref-color-green-450: hsla(140, 71%, 44%, 0.64);
  --pw-ref-color-green-500: hsla(140, 71%, 44%, 0.73);
  --pw-ref-color-green-550: hsla(140, 71%, 44%, 0.81);
  --pw-ref-color-green-600: hsla(140, 71%, 44%, 0.89);
  --pw-ref-color-green-650: hsla(145, 100%, 35%, 1);
  --pw-ref-color-green-700: hsla(145, 100%, 32%, 1);
  --pw-ref-color-green-750: hsla(145, 100%, 30%, 1);
  --pw-ref-color-green-800: hsla(144, 100%, 27%, 1);
  --pw-ref-color-green-850: hsla(144, 100%, 26%, 1);
  --pw-ref-color-green-900: hsla(144, 100%, 24%, 1);
  --pw-ref-color-green-950: hsla(144, 100%, 24%, 1);
  --pw-ref-color-green-1000: hsla(144, 100%, 23%, 1);
  --pw-ref-color-yellow-50: hsla(56, 100%, 47%, 0.02);
  --pw-ref-color-yellow-100: hsla(56, 100%, 47%, 0.05);
  --pw-ref-color-yellow-150: hsla(56, 100%, 47%, 0.1);
  --pw-ref-color-yellow-200: hsla(56, 100%, 47%, 0.17);
  --pw-ref-color-yellow-250: hsla(56, 100%, 47%, 0.25);
  --pw-ref-color-yellow-300: hsla(56, 100%, 47%, 0.34);
  --pw-ref-color-yellow-350: hsla(56, 100%, 47%, 0.44);
  --pw-ref-color-yellow-400: hsla(56, 100%, 47%, 0.54);
  --pw-ref-color-yellow-450: hsla(56, 100%, 47%, 0.64);
  --pw-ref-color-yellow-500: hsla(56, 100%, 47%, 0.73);
  --pw-ref-color-yellow-550: hsla(56, 100%, 47%, 0.81);
  --pw-ref-color-yellow-600: hsla(56, 100%, 47%, 0.89);
  --pw-ref-color-yellow-650: hsla(56, 100%, 44%, 1);
  --pw-ref-color-yellow-700: hsla(56, 100%, 42%, 1);
  --pw-ref-color-yellow-750: hsla(56, 100%, 39%, 1);
  --pw-ref-color-yellow-800: hsla(56, 100%, 37%, 1);
  --pw-ref-color-yellow-850: hsla(56, 100%, 35%, 1);
  --pw-ref-color-yellow-900: hsla(56, 100%, 34%, 1);
  --pw-ref-color-yellow-950: hsla(56, 100%, 33%, 1);
  --pw-ref-color-yellow-1000: hsla(56, 100%, 33%, 1);
  --pw-ref-color-red-50: hsla(352, 71%, 43%, 0.02);
  --pw-ref-color-red-100: hsla(352, 71%, 43%, 0.05);
  --pw-ref-color-red-150: hsla(352, 71%, 43%, 0.1);
  --pw-ref-color-red-200: hsla(352, 71%, 43%, 0.17);
  --pw-ref-color-red-250: hsla(352, 71%, 43%, 0.25);
  --pw-ref-color-red-300: hsla(352, 71%, 43%, 0.34);
  --pw-ref-color-red-350: hsla(352, 71%, 43%, 0.44);
  --pw-ref-color-red-400: hsla(352, 71%, 43%, 0.54);
  --pw-ref-color-red-450: hsla(352, 71%, 43%, 0.64);
  --pw-ref-color-red-500: hsla(352, 71%, 43%, 0.73);
  --pw-ref-color-red-550: hsla(352, 71%, 43%, 0.81);
  --pw-ref-color-red-600: hsla(352, 71%, 43%, 0.89);
  --pw-ref-color-red-650: hsla(353, 67%, 46%, 1);
  --pw-ref-color-red-700: hsla(354, 63%, 50%, 1);
  --pw-ref-color-red-750: hsla(354, 67%, 53%, 1);
  --pw-ref-color-red-800: hsla(355, 72%, 55%, 1);
  --pw-ref-color-red-850: hsla(355, 77%, 58%, 1);
  --pw-ref-color-red-900: hsla(355, 81%, 60%, 1);
  --pw-ref-color-red-950: hsla(355, 83%, 61%, 1);
  --pw-ref-color-red-1000: hsla(356, 84%, 61%, 1);
  --pw-sys-color-text-foreground: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-secondary: var(--pw-ref-color-white-900);
  --pw-sys-color-text-info: var(--pw-ref-color-blue-650);
  --pw-sys-color-text-success: var(--pw-ref-color-green-650);
  --pw-sys-color-text-caution: var(--pw-ref-color-yellow-650);
  --pw-sys-color-text-critical: var(--pw-ref-color-red-1000);
  --pw-sys-color-text-disabled: var(--pw-ref-color-white-800);
  --pw-sys-color-text-placeholder: var(--pw-ref-color-white-700);
  --pw-sys-color-text-on-primary: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-secondary: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-info: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-info-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-success: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-success-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-caution: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-caution-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-critical: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-critical-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-disabled: var(--pw-ref-color-white-700);
  --pw-sys-color-background-background: var(--pw-ref-color-black-1000);
  --pw-sys-color-background-primary: var(--pw-ref-color-white-1000);
  --pw-sys-color-background-primary-hover: var(--pw-ref-color-white-950);
  --pw-sys-color-background-secondary: var(--pw-ref-color-white-200);
  --pw-sys-color-background-secondary-hover: var(--pw-ref-color-white-250);
  --pw-sys-color-background-info: var(--pw-ref-color-blue-700);
  --pw-sys-color-background-info-hover: var(--pw-ref-color-blue-800);
  --pw-sys-color-background-info-subdued: var(--pw-ref-color-blue-300);
  --pw-sys-color-background-info-subdued-hover: var(--pw-ref-color-blue-400);
  --pw-sys-color-background-success: var(--pw-ref-color-green-600);
  --pw-sys-color-background-success-hover: var(--pw-ref-color-green-650);
  --pw-sys-color-background-success-subdued: var(--pw-ref-color-green-300);
  --pw-sys-color-background-success-subdued-hover: var(--pw-ref-color-green-400);
  --pw-sys-color-background-caution: var(--pw-ref-color-yellow-600);
  --pw-sys-color-background-caution-hover: var(--pw-ref-color-yellow-650);
  --pw-sys-color-background-caution-subdued: var(--pw-ref-color-yellow-300);
  --pw-sys-color-background-caution-subdued-hover: var(--pw-ref-color-yellow-350);
  --pw-sys-color-background-critical: var(--pw-ref-color-red-700);
  --pw-sys-color-background-critical-hover: var(--pw-ref-color-red-600);
  --pw-sys-color-background-critical-subdued: var(--pw-ref-color-red-300);
  --pw-sys-color-background-critical-subdued-hover: var(--pw-ref-color-red-400);
  --pw-sys-color-background-disabled: var(--pw-ref-color-white-200);
  --pw-sys-color-border-primary: var(--pw-ref-color-white-400);
  --pw-sys-color-border-secondary: var(--pw-ref-color-white-300);
  --pw-sys-color-border-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-border-success: var(--pw-ref-color-green-400);
  --pw-sys-color-border-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-border-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-border-disabled: var(--pw-ref-color-white-200);
  --pw-sys-color-ring-primary: var(--pw-ref-color-white-400);
  --pw-sys-color-ring-secondary: var(--pw-ref-color-white-300);
  --pw-sys-color-ring-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-ring-success: var(--pw-ref-color-green-400);
  --pw-sys-color-ring-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-ring-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-ring-disabled: var(--pw-ref-color-white-200);
  --pw-sys-color-outline-primary: var(--pw-ref-color-white-400);
  --pw-sys-color-outline-secondary: var(--pw-ref-color-white-300);
  --pw-sys-color-outline-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-outline-success: var(--pw-ref-color-green-400);
  --pw-sys-color-outline-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-outline-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-outline-disabled: var(--pw-ref-color-white-200);
  --pw-ref-spacing-0: 0px;
  --pw-ref-spacing-1: 0.25rem;
  --pw-ref-spacing-2: calc(0.25rem * 2);
  --pw-ref-spacing-3: calc(0.25rem * 3);
  --pw-ref-spacing-4: calc(0.25rem * 4);
  --pw-ref-spacing-5: calc(0.25rem * 5);
  --pw-ref-spacing-6: calc(0.25rem * 6);
  --pw-ref-spacing-7: calc(0.25rem * 7);
  --pw-ref-spacing-8: calc(0.25rem * 8);
  --pw-ref-spacing-9: calc(0.25rem * 9);
  --pw-ref-spacing-10: calc(0.25rem * 10);
  --pw-ref-spacing-11: calc(0.25rem * 11);
  --pw-ref-spacing-12: calc(0.25rem * 12);
  --pw-ref-spacing-14: calc(0.25rem * 13);
  --pw-ref-spacing-16: calc(0.25rem * 16);
  --pw-ref-spacing-20: calc(0.25rem * 20);
  --pw-ref-spacing-24: calc(0.25rem * 24);
  --pw-ref-spacing-28: calc(0.25rem * 28);
  --pw-ref-spacing-32: calc(0.25rem * 32);
  --pw-ref-spacing-36: calc(0.25rem * 36);
  --pw-ref-spacing-40: calc(0.25rem * 40);
  --pw-ref-spacing-44: calc(0.25rem * 44);
  --pw-ref-spacing-48: calc(0.25rem * 48);
  --pw-ref-spacing-52: calc(0.25rem * 52);
  --pw-ref-spacing-56: calc(0.25rem * 56);
  --pw-ref-spacing-60: calc(0.25rem * 60);
  --pw-ref-spacing-64: calc(0.25rem * 64);
  --pw-ref-spacing-72: calc(0.25rem * 72);
  --pw-ref-spacing-80: calc(0.25rem * 80);
  --pw-ref-spacing-96: calc(0.25rem * 96);
  --pw-ref-spacing-0\.25: calc(0.25rem / 4);
  --pw-ref-spacing-0\.5: calc(0.25rem / 2);
  --pw-sys-spacing-3xs: var(--pw-ref-spacing-0\.5);
  --pw-sys-spacing-2xs: var(--pw-ref-spacing-1);
  --pw-sys-spacing-xs: var(--pw-ref-spacing-2);
  --pw-sys-spacing-sm: var(--pw-ref-spacing-3);
  --pw-sys-spacing-md: var(--pw-ref-spacing-4);
  --pw-sys-spacing-lg: var(--pw-ref-spacing-6);
  --pw-sys-spacing-xl: var(--pw-ref-spacing-8);
  --pw-sys-spacing-2xl: var(--pw-ref-spacing-10);
  --pw-sys-spacing-3xl: var(--pw-ref-spacing-12);
  --pw-sys-spacing-4xl: var(--pw-ref-spacing-16);
  --pw-sys-spacing-5xl: var(--pw-ref-spacing-20);
  --pw-sys-spacing-6xl: var(--pw-ref-spacing-24);
}