:root, .light {
  --pw-ref-radius-none: 0px;
  --pw-ref-radius-sm: calc(0.75rem - 2px);
  --pw-ref-radius-base: 0.75rem;
  --pw-ref-radius-md: calc(0.75rem + 2px);
  --pw-ref-radius-lg: calc(0.75rem + 4px);
  --pw-ref-radius-xl: calc(0.75rem + 8px);
  --pw-ref-radius-2xl: calc(0.75rem + 12px);
  --pw-ref-radius-3xl: calc(0.75rem + 20px);
  --pw-ref-radius-full: 9999px;
  --pw-ref-color-white-50: hsla(0, 0%, 100%, 0.03);
  --pw-ref-color-white-100: hsla(0, 0%, 100%, 0.06);
  --pw-ref-color-white-200: hsla(0, 0%, 100%, 0.11);
  --pw-ref-color-white-300: hsla(0, 0%, 100%, 0.22);
  --pw-ref-color-white-400: hsla(0, 0%, 100%, 0.33);
  --pw-ref-color-white-500: hsla(0, 0%, 100%, 0.44);
  --pw-ref-color-white-600: hsla(0, 0%, 100%, 0.54);
  --pw-ref-color-white-700: hsla(0, 0%, 100%, 0.64);
  --pw-ref-color-white-800: hsla(0, 0%, 100%, 0.73);
  --pw-ref-color-white-900: hsla(0, 0%, 100%, 0.82);
  --pw-ref-color-white-950: hsla(0, 0%, 100%, 0.9);
  --pw-ref-color-white-1000: hsla(0, 0%, 100%, 1);
  --pw-ref-color-black-50: hsla(224, 37%, 10%, 0.03);
  --pw-ref-color-black-100: hsla(224, 37%, 10%, 0.06);
  --pw-ref-color-black-200: hsla(224, 37%, 10%, 0.11);
  --pw-ref-color-black-300: hsla(224, 37%, 10%, 0.22);
  --pw-ref-color-black-400: hsla(224, 37%, 10%, 0.33);
  --pw-ref-color-black-500: hsla(224, 37%, 10%, 0.44);
  --pw-ref-color-black-600: hsla(224, 37%, 10%, 0.54);
  --pw-ref-color-black-700: hsla(224, 37%, 10%, 0.64);
  --pw-ref-color-black-800: hsla(224, 37%, 10%, 0.73);
  --pw-ref-color-black-900: hsla(224, 37%, 10%, 0.82);
  --pw-ref-color-black-950: hsla(224, 37%, 10%, 0.9);
  --pw-ref-color-black-1000: hsla(224, 37%, 10%, 1);
  --pw-ref-color-blue-50: hsla(217, 91%, 60%, 0.02);
  --pw-ref-color-blue-100: hsla(217, 91%, 60%, 0.05);
  --pw-ref-color-blue-200: hsla(217, 91%, 60%, 0.09);
  --pw-ref-color-blue-300: hsla(217, 91%, 60%, 0.14);
  --pw-ref-color-blue-400: hsla(217, 91%, 60%, 0.4);
  --pw-ref-color-blue-500: hsla(217, 91%, 60%, 0.6);
  --pw-ref-color-blue-600: hsla(217, 91%, 60%, 0.88);
  --pw-ref-color-blue-700: hsla(217, 91%, 60%, 1);
  --pw-ref-color-blue-800: hsla(213, 90%, 45%, 1);
  --pw-ref-color-blue-900: hsla(212, 100%, 34%, 1);
  --pw-ref-color-blue-950: hsla(213, 100%, 30%, 1);
  --pw-ref-color-blue-1000: hsla(213, 100%, 25%, 1);
  --pw-ref-color-green-50: hsla(142, 71%, 45%, 0.02);
  --pw-ref-color-green-100: hsla(142, 71%, 45%, 0.05);
  --pw-ref-color-green-200: hsla(142, 71%, 45%, 0.09);
  --pw-ref-color-green-300: hsla(142, 71%, 45%, 0.14);
  --pw-ref-color-green-400: hsla(142, 71%, 45%, 0.4);
  --pw-ref-color-green-500: hsla(142, 71%, 45%, 0.6);
  --pw-ref-color-green-600: hsla(142, 71%, 45%, 0.88);
  --pw-ref-color-green-700: hsla(142, 71%, 45%, 1);
  --pw-ref-color-green-800: hsla(147, 100%, 33%, 1);
  --pw-ref-color-green-900: hsla(147, 100%, 27%, 1);
  --pw-ref-color-green-950: hsla(146, 100%, 24%, 1);
  --pw-ref-color-green-1000: hsla(146, 100%, 22%, 1);
  --pw-ref-color-yellow-50: hsla(45, 93%, 47%, 0.02);
  --pw-ref-color-yellow-100: hsla(45, 93%, 47%, 0.05);
  --pw-ref-color-yellow-200: hsla(45, 93%, 47%, 0.09);
  --pw-ref-color-yellow-300: hsla(45, 93%, 47%, 0.14);
  --pw-ref-color-yellow-400: hsla(45, 93%, 47%, 0.4);
  --pw-ref-color-yellow-500: hsla(45, 93%, 47%, 0.6);
  --pw-ref-color-yellow-600: hsla(45, 93%, 47%, 0.88);
  --pw-ref-color-yellow-700: hsla(45, 93%, 47%, 1);
  --pw-ref-color-yellow-800: hsla(46, 100%, 39%, 1);
  --pw-ref-color-yellow-900: hsla(45, 100%, 33%, 1);
  --pw-ref-color-yellow-950: hsla(45, 100%, 30%, 1);
  --pw-ref-color-yellow-1000: hsla(46, 100%, 27%, 1);
  --pw-ref-color-red-50: hsla(0, 84%, 60%, 0.02);
  --pw-ref-color-red-100: hsla(0, 84%, 60%, 0.05);
  --pw-ref-color-red-200: hsla(0, 84%, 60%, 0.09);
  --pw-ref-color-red-300: hsla(0, 84%, 60%, 0.14);
  --pw-ref-color-red-400: hsla(0, 84%, 60%, 0.4);
  --pw-ref-color-red-500: hsla(0, 84%, 60%, 0.6);
  --pw-ref-color-red-600: hsla(0, 84%, 60%, 0.88);
  --pw-ref-color-red-700: hsla(0, 84%, 60%, 1);
  --pw-ref-color-red-800: hsla(358, 66%, 48%, 1);
  --pw-ref-color-red-900: hsla(353, 93%, 34%, 1);
  --pw-ref-color-red-950: hsla(352, 100%, 29%, 1);
  --pw-ref-color-red-1000: hsla(353, 100%, 25%, 1);
  --pw-sys-color-text-foreground: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-primary: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-secondary: var(--pw-ref-color-black-900);
  --pw-sys-color-text-on-secondary: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-info: var(--pw-ref-color-blue-900);
  --pw-sys-color-text-on-info: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-info-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-success: var(--pw-ref-color-green-1000);
  --pw-sys-color-text-on-success: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-success-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-caution: var(--pw-ref-color-yellow-1000);
  --pw-sys-color-text-on-caution: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-caution-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-critical: var(--pw-ref-color-red-900);
  --pw-sys-color-text-on-critical: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-critical-subdued: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-disabled: var(--pw-ref-color-black-700);
  --pw-sys-color-text-on-disabled: var(--pw-ref-color-black-700);
  --pw-sys-color-background-background: var(--pw-ref-color-white-1000);
  --pw-sys-color-background-primary: var(--pw-ref-color-black-1000);
  --pw-sys-color-background-primary-hover: var(--pw-ref-color-black-950);
  --pw-sys-color-background-secondary: var(--pw-ref-color-black-50);
  --pw-sys-color-background-secondary-hover: var(--pw-ref-color-black-100);
  --pw-sys-color-background-info: var(--pw-ref-color-blue-800);
  --pw-sys-color-background-info-hover: var(--pw-ref-color-blue-900);
  --pw-sys-color-background-info-subdued: var(--pw-ref-color-blue-300);
  --pw-sys-color-background-info-subdued-hover: var(--pw-ref-color-blue-400);
  --pw-sys-color-background-success: var(--pw-ref-color-green-700);
  --pw-sys-color-background-success-hover: var(--pw-ref-color-green-800);
  --pw-sys-color-background-success-subdued: var(--pw-ref-color-green-300);
  --pw-sys-color-background-success-subdued-hover: var(--pw-ref-color-green-400);
  --pw-sys-color-background-caution: var(--pw-ref-color-yellow-700);
  --pw-sys-color-background-caution-hover: var(--pw-ref-color-yellow-800);
  --pw-sys-color-background-caution-subdued: var(--pw-ref-color-yellow-300);
  --pw-sys-color-background-caution-subdued-hover: var(--pw-ref-color-yellow-400);
  --pw-sys-color-background-critical: var(--pw-ref-color-red-700);
  --pw-sys-color-background-critical-hover: var(--pw-ref-color-red-800);
  --pw-sys-color-background-critical-subdued: var(--pw-ref-color-red-300);
  --pw-sys-color-background-critical-subdued-hover: var(--pw-ref-color-red-400);
  --pw-sys-color-background-disabled: var(--pw-ref-color-black-200);
  --pw-sys-color-border-primary: var(--pw-ref-color-black-300);
  --pw-sys-color-border-secondary: var(--pw-ref-color-black-200);
  --pw-sys-color-border-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-border-success: var(--pw-ref-color-green-400);
  --pw-sys-color-border-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-border-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-border-disabled: var(--pw-ref-color-black-100);
  --pw-sys-color-ring-primary: var(--pw-ref-color-black-300);
  --pw-sys-color-ring-secondary: var(--pw-ref-color-black-200);
  --pw-sys-color-ring-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-ring-success: var(--pw-ref-color-green-400);
  --pw-sys-color-ring-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-ring-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-ring-disabled: var(--pw-ref-color-black-100);
  --pw-sys-color-outline-primary: var(--pw-ref-color-black-300);
  --pw-sys-color-outline-secondary: var(--pw-ref-color-black-200);
  --pw-sys-color-outline-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-outline-success: var(--pw-ref-color-green-400);
  --pw-sys-color-outline-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-outline-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-outline-disabled: var(--pw-ref-color-black-100);
}

.dark {
  --pw-sys-color-text-foreground: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-primary: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-secondary: var(--pw-ref-color-white-800);
  --pw-sys-color-text-on-secondary: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-info: var(--pw-ref-color-blue-700);
  --pw-sys-color-text-on-info: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-on-info-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-success: var(--pw-ref-color-green-700);
  --pw-sys-color-text-on-success: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-success-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-caution: var(--pw-ref-color-yellow-700);
  --pw-sys-color-text-on-caution: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-caution-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-critical: var(--pw-ref-color-red-700);
  --pw-sys-color-text-on-critical: var(--pw-ref-color-black-1000);
  --pw-sys-color-text-on-critical-subdued: var(--pw-ref-color-white-1000);
  --pw-sys-color-text-disabled: var(--pw-ref-color-white-600);
  --pw-sys-color-text-on-disabled: var(--pw-ref-color-white-700);
  --pw-sys-color-background-background: var(--pw-ref-color-black-1000);
  --pw-sys-color-background-primary: var(--pw-ref-color-white-1000);
  --pw-sys-color-background-primary-hover: var(--pw-ref-color-white-950);
  --pw-sys-color-background-secondary: var(--pw-ref-color-white-50);
  --pw-sys-color-background-secondary-hover: var(--pw-ref-color-white-100);
  --pw-sys-color-background-info: var(--pw-ref-color-blue-800);
  --pw-sys-color-background-info-hover: var(--pw-ref-color-blue-900);
  --pw-sys-color-background-info-subdued: var(--pw-ref-color-blue-300);
  --pw-sys-color-background-info-subdued-hover: var(--pw-ref-color-blue-400);
  --pw-sys-color-background-success: var(--pw-ref-color-green-700);
  --pw-sys-color-background-success-hover: var(--pw-ref-color-green-800);
  --pw-sys-color-background-success-subdued: var(--pw-ref-color-green-300);
  --pw-sys-color-background-success-subdued-hover: var(--pw-ref-color-green-400);
  --pw-sys-color-background-caution: var(--pw-ref-color-yellow-700);
  --pw-sys-color-background-caution-hover: var(--pw-ref-color-yellow-800);
  --pw-sys-color-background-caution-subdued: var(--pw-ref-color-yellow-300);
  --pw-sys-color-background-caution-subdued-hover: var(--pw-ref-color-yellow-400);
  --pw-sys-color-background-critical: var(--pw-ref-color-red-700);
  --pw-sys-color-background-critical-hover: var(--pw-ref-color-red-800);
  --pw-sys-color-background-critical-subdued: var(--pw-ref-color-red-300);
  --pw-sys-color-background-critical-subdued-hover: var(--pw-ref-color-red-400);
  --pw-sys-color-background-disabled: var(--pw-ref-color-white-200);
  --pw-sys-color-border-primary: var(--pw-ref-color-white-300);
  --pw-sys-color-border-secondary: var(--pw-ref-color-white-200);
  --pw-sys-color-border-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-border-success: var(--pw-ref-color-green-400);
  --pw-sys-color-border-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-border-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-border-disabled: var(--pw-ref-color-white-100);
  --pw-sys-color-ring-primary: var(--pw-ref-color-white-300);
  --pw-sys-color-ring-secondary: var(--pw-ref-color-white-200);
  --pw-sys-color-ring-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-ring-success: var(--pw-ref-color-green-400);
  --pw-sys-color-ring-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-ring-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-ring-disabled: var(--pw-ref-color-white-100);
  --pw-sys-color-outline-primary: var(--pw-ref-color-white-300);
  --pw-sys-color-outline-secondary: var(--pw-ref-color-white-200);
  --pw-sys-color-outline-info: var(--pw-ref-color-blue-400);
  --pw-sys-color-outline-success: var(--pw-ref-color-green-400);
  --pw-sys-color-outline-caution: var(--pw-ref-color-yellow-400);
  --pw-sys-color-outline-critical: var(--pw-ref-color-red-400);
  --pw-sys-color-outline-disabled: var(--pw-ref-color-white-100);
}